html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, cite, code, del, dfn, em, img, strong, sub, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --azul-escuro: #00043e;
    --branco: #FFFFFF;
    --azul-claro: #007aff;
    --cinza-claro: #818181;
    --cinza-escuro: #303030;
    --fonte-principal: 'Lato', sans-serif;
    --fonte-h2: 'Montserrat', sans-serif;
}

header.topo {
    background-color: var(--azul-escuro);
}

.large-container figure img {
    margin-top: 20px;
    margin-left: 10px;
    width:45px;
}

.fa-bars {
    color: #818181;
    position: absolute;
    right: 15px;
    top: 20px;
}

ul.nav {
    display: none;
}
figcaption {
    display: none;
}

.secaoDestaque {
   background-color: var(--azul-escuro);
   height: 230px;
   color: #FFFFFF;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-content: flex-end;
   align-items: center;
   margin-bottom: 80px;
}

.secaoDestaque h2 {
    font-family: var(--fonte-h2);
    font-size: 22px;
    font-weight: 100;
    width: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.secaoDestaque p {
    font-size: 15px;
    margin-bottom: 10px;
}

.secaoDestaqueFormulario {
    display: flex;
    justify-content: center;
}

.secaoDestaqueFormulario input {
    width:60%;
}

.secaoDestaqueFormulario button {
    background-color: #007AFF;
    color: #FFFFFF;
    border: none;
    padding: 5px;
    font-size:14px;
    font-weight: 100;
    font-family: var(--fonte-principal);
 }

 article.flex{
     display:flex;
     flex-direction: column;
     align-items: center;
 }

 .flex-col-python {
     display: flex;
     flex-direction: column;
 }

.flex-col-python h2 {
    font-family: var(--fonte-h2);
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: bold;
}

.flex-col-python p {
    font-family: var(--fonte-principal);
    font-size: 15px;
    color: var(--cinza-escuro);
    line-height: 25px;
    margin-bottom: 35px;
}

.flex-col-python span {
    font-family: var(--fonte-principal);
    font-size: 15px;
    color: var(--cinza-claro);
    line-height: 25px;
    margin-bottom: 30px;
}

.flex-col-python button {
    background-color: var(--branco);
    border: 1px solid var(--cinza-claro);
    border-radius: 2px;
    font-family: (var(--fonte-principal));
    font-weight: bold;
    padding: 5px;
    margin-bottom: 35px;
    color: var(--cinza-claro)
}

.flex-col-python-img figure img {
    width: 130px;
    margin-bottom: 30px;
    margin-left: 80px;
}

.flex-col-js-img figure img {
    width: 80px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.flex-col-js-img figure {
    display: flex;
    justify-content: center;
}

.flex-col-ul h2 {
    font-family: var(--fonte-h2);
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}

.flex-col-ul ul li {
    list-style: disc;
    font-family: var(--fonte-principal);
    font-size: 15px;
    color: var(--cinza-claro);
    line-height: 25px;
}

.flex-col-ul {
    margin-bottom: 50px;
}

.secaoSobre {
    width: 80%;
    margin: 0 auto;
}

.js-background {
    width: 100vw;
    background-color: #f1f1f1;
    padding-left: 50px;
    padding-right: 40px;
}

img {
    width:40px;
}


@media (min-width: 768px){
    .large-container i {
        display: none;
    }

    ul.nav {
        display: flex;
        width: 350px;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .large-container {
        display: flex;
        justify-content: space-around;
        padding: 5px;
        padding: 0;
    }
 
    header.topo nav ul li a {
        width: 350px;
        height: 100%;
        font-family: var(--fonte-principal);
        font-weight: 100;
        color:#FFFFFF;
        font-size: 13px;
    }

    header.topo nav ul li a:hover{
        cursor: pointer;
        color: blue;
    }

    .secaoDestaque {
        background-image: url(../img/background-destaque.webp);
        height: 100vh;
        width: 100vw;
        padding-top: 100px;
    } 
    
    .secaoDestaque h2 {
        font-size: 63px;
    }

    .secaoDestaque p {
        font-size: 21px;
    }

    .secaoDestaqueFormulario{
        width: 550px;
    }

    .secaoDestaqueFormulario button {
        font-size:14px;
    }

    .flex-col-python-img figure img {
        width: 500px;
    }

    .flex-col-python h2 {
        font-size: 24px;
    }

    .flex-col-python p {
        font-size: 19px;
    }

    .flex-col-js-img figure{
        width: 180px;
    }

    .flex-col-js-img figure img {
        width: 170px;
        margin-right: 100px;
        margin-bottom: 45px;
        margin-top: 0;
    }

    .flex-col-python button {
        font-size: 19px;
        width: 130px;
    }

    .flex-col-python span {
        font-size: 19px;
    }

    .flex-col-python {
        width:50%;
        margin-left: 100px;
    }

    .first {
        display:flex;
    }

    .js-background {
        display:flex;
        justify-content: center;
        height: 350px;
        align-items: center;
    }

    .flex-col-ul ul li {
        font-size:19px;
        margin-left: 40px;
    }
}
